.matfab{
  z-index: 99;
  position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5f6d, #ffc371);
}
