.logo-image {
  height: 3rem;
}
.navbar-brand {
  font-family: Bebas Neue, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.brand-text {
  padding-left: 1rem;
}
.bg-light {
  color: #ccdff1 !important;
}
